.compare-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.compare {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-top: 3px;
    color: #666;
}
